{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="{{ asset('css/login.css') }}" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
{%  endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% else %}
        <div class="login-reg-panel">
            <div class="register-info-box">
                <h2>Nouveau client ?</h2>
                <p>Créez un compte rapidement et facilement</p>
{#                <label id="label-login" for="log-login-show">S'inscrire</label>#}
{#                <input type="radio" name="active-log-panel" id="log-login-show">#}
                <a href="{{ path('app_register') }}" id="label-login">S'inscrire</a>
            </div>

            <div class="white-panel">
                <div class="login-show show-log-panel">
                    <form method="post">
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}">
                        <h2>Connectez-vous</h2>
                    <input type="email" placeholder="Email" name="email" id="inputEmail">
                    <input type="password" placeholder="Mot de passe" name="password" id="inputPassword">
                    <input type="submit" value="Se connecter">
                    <a href="">Mot de passe oublié ?</a>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
