{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block stylesheets %}
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('css/shop-item.css') }}" rel="stylesheet">
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block body %}

    <!-- Page Content -->
    <div class="container">

        <div class="row justify-content-center">
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">

                <div class="card mt-4">
                    <img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt="">
                    <div class="card-body">
                        <h3 class="card-title">{{ article.title }}</h3>
                        <p class="card-text">{{ article.content | raw }}</p>
                        <div class="card-footer">
                            <div class="container">
                                <div class="row justify-content-around">
                                    <div class="col-lg-7">
                                        <label for="amount">Quantité :</label>
                                        <select id="amount" class="custom-select-sm">
                                            {% for i in 1..article.amount %}
                                                <option>{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-lg-2">
{#                                        TODO: changer le prix avec la quantité.#}
                                        <h4 class="card-price text-right">{{ article.price }} €</h4>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <button id="checkout-button" class="btn btn-primary btn-block" style="width: 25%">Acheter</button>
                                </div>
                            </div>
                        </div>
{#                        <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>#}
{#                        4.0 stars#}
                    </div>
                </div>
                <!-- /.card -->

{#                <div class="card card-outline-secondary my-4">#}
{#                    <div class="card-header">#}
{#                        Product Reviews#}
{#                    </div>#}
{#                    <div class="card-body">#}
{#                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>#}
{#                        <small class="text-muted">Posted by Anonymous on 3/1/17</small>#}
{#                        <hr>#}
{#                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>#}
{#                        <small class="text-muted">Posted by Anonymous on 3/1/17</small>#}
{#                        <hr>#}
{#                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>#}
{#                        <small class="text-muted">Posted by Anonymous on 3/1/17</small>#}
{#                        <hr>#}
{#                        <a href="#" class="btn btn-success">Leave a Review</a>#}
{#                    </div>#}
{#                </div>#}
                <!-- /.card -->

            </div>
            <!-- /.col-lg-9 -->

        </div>

    </div>
    <!-- /.container -->
    <script type="text/javascript">
        // Create an instance of the Stripe object with your publishable API key
        var stripe = Stripe('pk_test_MNEO6ty8yTmiLUmuaAuprTLS001rO0EvPp');
        var checkoutButton = document.getElementById('checkout-button');
        var amountValue = document.getElementById('amount');
        checkoutButton.addEventListener('click', function() {
            // Create a new Checkout Session using the server-side endpoint you
            // created in step 3.
            var url = '{{ path('checkout', {'id': article.id, 'amount': "amount_value" })|escape('js') }}';
            url = url.replace("amount_value",amountValue.value);
            fetch(url, {
                method: 'POST',
            })
                .then(function(response) {
                    return response;
                })
                .then(function(session) {
                    return stripe.redirectToCheckout({ sessionId: session.headers.get('id') });
                })
                .then(function(result) {
                    // If `redirectToCheckout` fails due to a browser or network
                    // error, you should display the localized error message to your
                    // customer using `error.message`.
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(function(error) {
                    console.error('Error:', error);
                });
        });
    </script>
{% endblock %}

