{% extends 'base.html.twig' %}

{% block title %}Hello BaseController!{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/home.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-3">

            <div class="list-group">
                {% for category in categories %}
                    <a href="{{ path('category_show', {'id': category.id }) }}" class="list-group-item">{{ category.title }}</a>
                {% endfor %}
            </div>

        </div>

    </div>
    <!-- /.row -->

</div>
{% endblock %}
